@font-face {
font-family: 'ProximaNova-Black';
    
    src:
    local('ProximaNova-Black'),
    url('https://nomail.com.ua/files/eot/f401366193520cdf512c7ade98260e27.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/f401366193520cdf512c7ade98260e27.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/f401366193520cdf512c7ade98260e27.woff2') format('woff2');
}

*, 
*:after, 
*:before {
	box-sizing: border-box;
}
body {
	background: #070506 url('img/main-bg.jpg') top right -170% no-repeat;
	background-size: contain;
	background-attachment: fixed;
	color: #fff;  
	font-family: 'Roboto', sans-serif;
}
.container {
	width: 90%;
	max-width: 1060px;
	margin: auto;
	/*border: 1px solid red;*/
}
.header {
	padding-top: 90px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.header__logo {
	margin-right: 70px;
}
.nav__link {
	text-decoration: none;
	color: #fff;
	margin-right: 15px;
}
.hero__subtitle {
	display: block;
	font-family: 'ProximaNova-Black', sans-serif;
	font-style: normal;
	margin-top: 78px;
	font-weight: 900;
	font-size: 40px;
	line-height: 100%;
}
.hero__title {
	font-family: 'ProximaNova-Black', sans-serif;
	font-style: normal;
	margin-top: 5px;
	font-weight: 900;
	font-size: 64px;
	margin-bottom: 25px;
}
.hero__description {
	max-width: 572px;		
	line-height: 150%;
	font-size: 18px;
	color: #AFAFAF;
}
.hero__premier {
	display: block;
	margin-bottom: 5px;	
	font-size: 18px;
	line-height: 150%;
	color: #B02000;
}
.hero__date {
	display: block;	
	font-size: 24px;
	line-height: 150%;
	margin-bottom: 46px;
}
.button-play {
	position: relative;
	border: none;
	background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
	border-radius: 300px;
	color: #fff;
	text-decoration: none;
	/*display: inline-block;*/
	padding: 25px 35px;
	padding-right: 80px;
	text-transform: uppercase;
	font-size: 14px;
  line-height: 16px;
}
.button-play:after {
	content: "";
	position: absolute;
	width: 65px;
	height: 65px;
	background: #fff url('img/Polygon 1.svg') 42% 42% no-repeat;
	/*background-position: 42% 42%;*/
	border-radius: 50%;	
	right: 0;
	top: 0;

}
.button-play:before {
	content: "";
	width: 81px;
	height: 81px;
	background-color: rgba(255, 255, 255, 0.3);	
	border-radius: 50%;
	position: absolute;
	right: -8px;
	top: -8px;
}
.episodes {
	padding: 60px 0;
}
.episodes__title {
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 24px;
}
.slider {	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.slider__item {	
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 250px;
	/*border: 1px solid red;*/
	min-height: 200px;
	/*margin-right: 20px;*/
	margin-bottom: 20px;
	padding: 30px;
	background: rgba(80, 80, 80, 0.86);	 
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	transition: all 1s;
}
.slider__item:hover {
	background-color: rgba(64, 101, 255, 0.86);
	/*background: linear-gradient(0deg, rgba(64, 101, 255, 0.86), rgba(64, 200, 255, 0.86));*/
}
.slider__rating-stars {
	opacity: 0;
}
.slider__item:hover .slider__rating-stars {
	opacity: 1;
}
.slider__image {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.slider__rating-label {
	margin-right: 10px;
}
.star {
	display: inline-block;	
	width: 12px;
	height: 12px;
	background: url('img/star (1).svg') no-repeat center;
}
.star-o {
	background: url('img/star (2).svg') no-repeat center;
}
.slider__nav-left{
	width: 32px;
	height: 32px;
	border: none;
	background: transparent url('img/left-arrow.svg') no-repeat center;
	margin-right: 15px;
	cursor: pointer;
	outline: none;
}
.slider__nav-right{
	width: 32px;
	height: 32px;
	border: none;
	background: transparent url('img/right-arrow.svg') no-repeat center;
	cursor: pointer;
}
.slider__nav-left span,
.slider__nav-right span {
	display: none;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.button {
	display: inline-block;
	animation-iteration-count: infinite;
}
@media (max-width: 600px) {
	.hero__subtitle {
		font-size: 24px;
	}
	.hero__title {
		font-size: 36px;
		line-height: 120%;
	}
	.hero__description {
		font-size: 16px;
	}
	.header {
		flex-direction: column;
		align-items: flex-start;
	}
	.header__logo {
		margin-bottom: 30px;
	}
	.nav {
		display: flex;
		flex-direction: column;
	}
	.nav__link {
		margin-bottom: 10px;
	}
}